services:
    anti-bruteforce-prod:
        profiles: ['prod']
#        image: ghcr.io/mrvin/anti-bruteforce:v1.0.0
        build:
         context: ../
         dockerfile: Dockerfile
         target: prod
        ports:
         - "50051:50051" # gRPC API
        env_file:
         - ../configs/anti-bruteforce.env
        volumes:
         - ${HOME}/volumes_docker/anti-bruteforce/log:/var/log/anti-bruteforce/
         - ${HOME}/volumes_docker/anti-bruteforce/sqlite-data:/data/

    anti-bruteforce-dev:
        profiles: ['dev']
        build:
         context: ../
         dockerfile: Dockerfile
         target: dev
        ports:
         - "50051:50051" # gRPC API
        env_file:
         - ../configs/anti-bruteforce.env
        volumes:
         - ${HOME}/volumes_docker/anti-bruteforce/log:/var/log/anti-bruteforce/
         - ${HOME}/volumes_docker/anti-bruteforce/sqlite-data:/data/
