services:
    anti-bruteforce-prod:
        profiles: ['prod']
#        image: ghcr.io/mrvin/anti-bruteforce:v1.0.0
        build:
         context: ../
         dockerfile: Dockerfile
         target: prod
        ports:
         - "50051:50051" # gRPC API
        env_file:
         - ../configs/anti-bruteforce.env
        depends_on:
          migrate:
            condition: service_completed_successfully
        volumes:
         - ${HOME}/volumes_docker/anti-bruteforce/log:/var/log/anti-bruteforce/

    anti-bruteforce-dev:
        profiles: ['dev']
        build:
         context: ../
         dockerfile: Dockerfile
         target: dev
        ports:
         - "50051:50051" # gRPC API
        env_file:
         - ../configs/anti-bruteforce.env
        depends_on:
          migrate:
            condition: service_completed_successfully
        volumes:
         - ${HOME}/volumes_docker/anti-bruteforce/log:/var/log/anti-bruteforce/

    migrate:
        image: migrate/migrate:v4.19.1
        command: ["-path", "/migrations", "-database",  "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable", "up"]
        depends_on:
          postgres:
            condition: service_healthy
        volumes:
         - ./../migrations:/migrations

    # Create service with PostgreSQL.
    postgres:
        image: postgres:18.1-alpine3.23
        ports:
         - "5432"
        env_file:
         - ../configs/anti-bruteforce.env
        healthcheck:
          test: ["CMD", "pg_isready", "-q", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}"]
          interval: 1s
        volumes:
         - ${HOME}/volumes_docker/anti-bruteforce/postgres-data:/var/lib/postgresql/data
